/*
 * LABELS 
 */
.bold {
    font-weight: 500;
}


/* 
 * FONT COLORS
 */
.font-black, .navbar-brand, .nav-link {
    color: black;
}


/*
 * BACKGROUND COLORS 
 */
.bg-green {
    background-color: #00bc8c
}

/*
 * NAVIGATION BAR
 */
.navbar-links {
    width: 100%;
}
.page-links {
    display: flex;
    flex-direction: row;
    width: 70%;
}
.info-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 30%
}
.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.csv-input-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}
.csv-input-group input {
    width: 50%;
    margin-right: 5%;
}